/target
__pycache__/
DS_Store
*.DS_Store
.idea
.vscode
*.log
*.onnx
*.json
*.onnx_data
*.wav
*.txt
*.onnx.data
*.model
*.deb
tdt
pkg/dictee/usr/bin/transcribe
pkg/dictee/usr/bin/transcribe-daemon
pkg/dictee/usr/bin/transcribe-client
pkg/dictee/usr/bin/transcribe-diarize
pkg/dictee/usr/bin/transcribe-stream-diarize
CLAUDE.md
DOC.md
ETAT_PROJET.md
PROMOTION.md
*.tar.gz
.worktrees/
.superpowers/
*.po~
