/target
DS_Store
*.DS_Store
.idea
.vscode
*.log
*.onnx
*.json
*.onnx_data
*.wav
*.txt
*.onnx.data
*.model
*.deb
tdt
pkg/parakeet-transcribe/usr/bin/transcribe
pkg/parakeet-transcribe/usr/bin/transcribe-daemon
pkg/parakeet-transcribe/usr/bin/transcribe-client
pkg/parakeet-transcribe/usr/bin/transcribe-diarize
pkg/parakeet-transcribe/usr/bin/transcribe-stream-diarize
CLAUDE.md
DOC.md
ETAT_PROJET.md