[Unit]
Description=dotool daemon (virtual keyboard input)
Documentation=https://git.sr.ht/~geb/dotool

[Service]
ExecStart=/usr/bin/dotoold
SupplementaryGroups=input
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
